@page
@model NewsRss.Pages.NewsPages.NewsAddModel
@{
}
<html>
<body >

    <form method="post">

        <label>Name</label>
        <input asp-for="NewsInput.Name" />
        <span asp-validation-for="NewsInput.Name"></span>

        <br />

        <label>RSS URL</label>
        <input asp-for="NewsInput.RSSUrl" />
        <span asp-validation-for="NewsInput.RSSUrl"></span>


        <br />

        <label>Priority</label>

        <ul>

            @foreach (var item in Enum.GetValues(typeof(Models.NewsPriorityLevels)))
            {
            <li>
                @Html.RadioButtonFor(m => m.newsPriorityLevels, item) @item
            </li>
            }
        </ul>


        <div>
            <input type="submit" value="Save" asp-page-handler="Save" />
        </div>

    </form>




</body>
</html>

<script>


</script>